.nav {
    position: fixed;
    bottom: 0;
    border-radius: 10px 10px 0 0;
    background-color: var(--green-color);
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0.5rem;
}