
.form {
    margin: 60px auto; 
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    background: var(--orange-background);
    border-radius: 30px 30px 30px 30px;
    box-shadow: var(--shadow);
    color: white;
}


.label {
    margin-bottom: 10px;
    width: 100%; 
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; 
    border: 0.5px solid black;
}

input[type="submit"] {
    background-color: #007bff;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.commentBox {
    width: 300px; 
    height: 200px; 
    resize: both; 
    overflow: auto; 
    border: 1px solid #ccc;
    padding: 10px; 
  }
  
  .draggable {
    cursor: grab; 
    position: relative;
  }
  
  .draggable:active {
    cursor: grabbing; 
  }

  input[type="submit"] {

    background-color: var(--blue-color);
    color: white;
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer;
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
    border-color: 1px solid black;
  
  }